<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Example</title>
    <link rel="stylesheet" href="AnnModal.css">
</head>

<body>

    <div id="modal" class="AnnModal-modal">
        <div class="AnnModal-modal-content">
            <div class="AnnModal-modal-header">
                <img src="./assets/New.svg" alt="icon" class="AnnModal-new-img">
                <h2 class="AnnModal-modal-title">Announcements!!!</h2>
                <span class="AnnModal-close">&times;</span>
            </div>
            <div class="AnnModal-modal-body">
                <!-- Content will be added dynamically -->
            </div>
        </div>
    </div>

    <script src="AnnModal.js"></script>
</body>

</html>