/* AnnModal.css */

/* Modal */
.AnnModal-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    /* Apply blur effect */
}

/* Modal Content */
.AnnModal-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 0;
    /* Remove padding */
    border: 1px solid #888;
    max-width: 40%;
    width: 400px;
    max-height: 60%;
    height: 60%;
    border-radius: 12px;
}

/* Modal Header */
.AnnModal-modal-header {
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px 12px 0px 0px;
    /* Set background image for modal header */
    background-size: cover; /* Adjusts the size of the background image to cover the entire width and height */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}


/* New Image */
.AnnModal-new-img {
    height: 70px;
    padding-top: 20px;
}

.AnnModal-new-imgg{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

/* Modal Title */
.AnnModal-modal-title {
    font-size: 20px;
    font-weight: 400;
    padding-right: 20px;
}

/* Close Button */
.AnnModal-close {
    color: white;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.AnnModal-close:hover,
.AnnModal-close:focus {
    color: #000;
    text-decoration: none;
}

/* Modal Body */
.AnnModal-modal-body {
    padding: 0 20px;
    overflow-y: scroll;
    max-height: calc(100% - 50px);
    /* Adjust max height */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Content Div */
.AnnModal-content-div {
    padding: 10px;
}

/* Content Button */
.AnnModal-content-button {
    background-color: #ff9f3f;
    color: white;
    font-size: 11px;
    padding: 3px 10px;
    border: none;
    border-radius: 20px;
}

/* Content Header */
.AnnModal-content-h3 {
    font-size: 14px;
}

/* Content Paragraph */
.AnnModal-content-p {
    font-size: 13px;
}
