<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="AnnouncementTicker.css">
</head>
<body>
    <div class="AnnouncementTicker-container">
        <div class="AnnouncementTicker-title">
            <img src="./loudspeaker.svg" alt="loudspeaker-Svg" class="loudspeaker-svg" id="loudspeaker-svg">
            <span class="AnnouncementTicker-dot-outer"></span>
            <span class="AnnouncementTicker-dot-middle"></span>
            <span class="AnnouncementTicker-dot-inner"></span>
            <span class="AnnouncementTicker-title-text">Announcement</span>
        </div>
        <ul class="AnnouncementTicker-ul">
            <li class="AnnouncementTicker-li">This script calculates the total height needed based on the provided dimensions</li>
            <li class="AnnouncementTicker-li">according to your actual design <span class="AnnouncementTicker-li-link">click here</span></li>
            <li class="AnnouncementTicker-li">63a054b0eca6c7459d2f1ab267d98656e99311d0</li>
        </ul>
    </div>
    <script>
        // Get the SVG element
        var svgImage = document.getElementById('loudspeaker-svg');
        
        // Function to rotate the SVG image
        function rotateImage() {
            svgImage.classList.toggle('rotateLoudspeakerSvg');
        }
       
        // Call rotateImage function every 2 seconds (2000 milliseconds = 2 seconds)
        setInterval(rotateImage, 2000); // 2 seconds
    </script>
</body>
</html> -->