<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Modal</title>
    <link rel="stylesheet" href="Announcement.css">
</head>

<body>

    <button id="openModalBtn">Open Modal</button>

    <div id="customModal" class="modal">
        <div class="modal-header">
            <img src="icon.png" class="modal-icon" alt="Icon">
            <h2 class="modal-heading">Modal Heading</h2>
            <span class="close">&times;</span>
        </div>
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <!-- Dynamic question-answer sections will be added here -->
            </div>
        </div>
    </div>


    <div id="overlay"></div>

    <script src="Announcement.js"></script>
</body>

</html>