.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 100; /* Ensure modal is on top of other content */
    width: 40%; /* Set modal width to 40% of the screen */
    max-height: calc(100vh - 100px); /* Adjusted to account for header height */
    overflow: hidden; /* Hide scrollbar for modal */
  }
  
  .modal-header {
    position: fixed; /* Ensure header stays fixed at the top */
    top: 0;
    width: 100%; /* Take full width */
    height: 50px; /* Header height */
    background-color: white;
    padding: 10px 20px; /* Adjust padding */
    box-sizing: border-box; /* Include padding in height calculation */
    border-bottom: 1px solid #ccc;
    display: flex; /* Arrange children horizontally */
    align-items: center; /* Center vertically */
    z-index: 101; /* Ensure header is on top of content */
  }
  
  .modal-icon {
    width: 40px;
    height: 40px;
  }
  
  .modal-heading {
    margin: 0;
    margin-left: 10px;
    flex: 1; /* Fill remaining space */
  }
  
  .close {
    cursor: pointer;
  }
  
  .modal-content-wrapper {
    padding-top: 60px; /* Adjust to match the header height */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100% - 50px); /* Adjusted to account for header height */
  }
  
  .qa-section {
    margin-bottom: 20px; /* Add space between question-answer sections */
  }
  